<div mat-dialog-content>
  <div class="value-entry" (click)="close()">
    <table class="top-bar">
      <tr>
        <td class="top-bar__back">
          <img src="assets/back.svg" class="top-bar__back-icon"
            matRipple [matRippleUnbounded]="false" />
        </td>
        <td class="top-bar__center">
          <img [src]="'assets/' + icon" class="top-bar__center-icon"/>
        </td>
        <td class="top-bar__next"></td>
      </tr>
    </table>

    <div class="value-entry__controller" (click)="stopPropagation($event)">
      <div class="value-entry__controller-presets-row">
        <div class="value-entry__controller-presets">
          <div class="value-entry__controller-presets-row">
            <fa-icon class="value-entry__controller-presets-increase"
              [icon]="['fas', 'caret-up']"
              (click)="updatePreset(-1)"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true">
            </fa-icon>
          </div>
          <div class="value-entry__controller-presets-row">
            <div class="value-entry__controller-presets-value" colspan="2"
              (click)="updatePreset(0)" matRipple [matRippleUnbounded]="false"
            >
              {{ selection }}
            </div>
          </div>
          <div class="value-entry__controller-presets-row">
            <fa-icon class="value-entry__controller-presets-decrease"
              [icon]="['fas', 'caret-down']"
              (click)="updatePreset(1)"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true">
            </fa-icon>
          </div>
        </div>

        <div class="value-entry__controller-values">
          <div class="value-entry__controller-values-row">
            <div class="value-entry__controller-values-increase"
              (click)="updateValue(1)" matRipple [matRippleUnbounded]="false"
            >
              +1
            </div>
            <div class="value-entry__controller-values-increase"
              (click)="updateValue(10)" matRipple [matRippleUnbounded]="false"
            >
              +10
            </div>
          </div>

          <div class="value-entry__controller-values-row">
            <div class="value-entry__controller-presets-value" colspan="2"
              (click)="updateValue(-1000)" matRipple [matRippleUnbounded]="false"
            >
              {{ value }}<span class="value-entry__controller-unit">{{ unit }}</span>
            </div>
          </div>

          <div class="value-entry__controller-values-row">
            <div class="value-entry__controller-values-decrease"
              (click)="updateValue(-1)" matRipple [matRippleUnbounded]="false"
            >
              -1
            </div>
            <div class="value-entry__controller-values-decrease"
              (click)="updateValue(-10)" matRipple [matRippleUnbounded]="false"
            >
              -10
            </div>
          </div>
        </div>
      </div>

      <div class="value-entry__controller-row">
        <div class="value-entry__controller-acknowledge" colspan="2"
          (click)="ack()" matRipple [matRippleUnbounded]="false"
        >
          <span class="value-entry__controller-acknowledge-span">{{ acknowledge }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
