.value-entry {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  opacity: 1;

  &__controller {
    width: 70vw;
    margin: 0 auto;
    border: solid 0.6vw;
    border-radius: 3vw;
    margin-top: 1.5vh;

    &-unit {
      text-align: center;
      font-size: 4vw;
      font-weight: 400;
    }

    &-row {
      display: flex;
    }

    &-presets {
      display: flex;
      flex-direction: column;
      border-right: solid 0.6vw;
      width: 35vw;

      &-row {
        display: flex;
      }

      &-value {
        padding: 3vh 6vw;
        font-size: 6vw;
        font-weight: 500;
        text-align: center;
        flex: 1;
      }

      &-increase {
        text-align: center;
        padding: 3vh 6vw;
        font-weight: 500;
        flex: 1;
      }

      &-decrease {
        text-align: center;
        padding: 3vh 6vw;
        font-weight: 500;
        flex: 1;
      }
    }

    &-values {
      display: flex;
      flex-direction: column;

      &-row {
        display: flex;
      }

      &-value {
        padding: 3vh 6vw;
        font-size: 6vw;
        font-weight: 500;
        text-align: center;
        flex: 1;
      }

      &-increase {
        padding: 3vh 6vw;
        font-weight: 500;
        flex: 1;
      }

      &-decrease {
        padding: 3vh 6vw;
        font-weight: 500;
        flex: 1;
      }
    }

    &-acknowledge {
      height: 10vw;
      border-top: solid 0.6vw;
      flex: 1;
      align-items: center;
      display: flex;

      &-span {
        text-align: center;
        flex: 1;
      }
    }
  }
}
