.custom-actions {
  width: 30vw;
  display: block;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__action {
    display: block;
    float: left;
    width: 10vw;
    height: 10vw;
    border: 0.8vw solid #f5f6fa;
    border-radius: 1.5vw;
    text-align: center;
    opacity: 0.9;
    margin: 0 1.4vw 3vh;

    &-icon {
      font-size: 5.5vw;
      vertical-align: -3vw;
    }
  }
}
