.custom-action-dialog {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  opacity: 1;

  &__input {
    background: transparent;
    margin-top: 1.5vh;
    padding: 1.5vw 3vh;
    border: 2px solid #dcdde1;
    border-radius: 1.7vw;
    width: 55vw;
    font-size: 2vw;
    margin-bottom: 4vh;

    &:disabled {
      opacity: 0.5;
    }

    &:focus {
      outline: 0;
      border: 2px solid #4bae50;
    }

    &-small {
      width: 10vw;
      text-align: right;

      &-suffix {
        font-size: 3vw;
        padding-left: 1vw;
      }
    }

    &-label {
      display: block;
      font-size: 1.8vw;

      & span {
        font-size: inherit;
        opacity: 0.5;
      }
    }

    &-prefix {
      font-size: 2vw;
      opacity: 0.7;
      padding-right: 1vw;
    }

    &-divider {
      padding: 0 0.9vw;
      font-size: 2.5vw;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 3vw;
    width: 3vw;
    background-color: transparent;
    border: 2px solid #dcdde1;
    border-radius: 1vw;

    &-container {
      display: inline-block;
      position: relative;
      user-select: none;
      padding-left: 5vw;
      height: 4.5vw;
      margin-top: 1.4vh;
      cursor: pointer;
      overflow: visible;

      &__space-right {
        margin-right: 14vw;
      }

      &-disabled {
        opacity: 0.5;
      }
    }

    &-checked {
      background-color: #2196f3;
      width: 1.8vw;
      height: 1.8vw;
      display: block;
      margin-left: 0.6vw;
      margin-top: 0.6vw;
      border-radius: 0.4vw;

      &-disabled {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    &-descriptor {
      font-size: 2.5vw;
      vertical-align: 2vh;
    }
  }

  &__controller {
    width: 55vw;
    margin: 0 auto;
    border: solid 0.6vw;
    border-radius: 3vw;
    margin-top: 1.5vh;

    &-settings {
      margin: 2vw;
      display: block;
    }

    &-save {
      display: flex;
      flex: 1;
      border-top: solid 0.6vw;
      align-items: center;

      &-span {
        text-align: center;
        flex: 1;
      }
    }
  }
}
